---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				Pensiune – Cherhana – Restaurant.
				Situata in satul Lunca, in complexul de lacuri Razelm. 
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Despre Noi
			</h2>
		</header>
		<div class="content">
			<p>
				Situata in satul Lunca, pe marginea lacului Golovita, in complexul Razim-Sinoe, <strong>Pensiunea Casa Pescarilor</strong> 
				se bucura de o locatie deosebita, fiind la doar 9 km de capul Dolosman. 
				Casa Pescarilor va pune la dispozitie 4 camere duble, 2 apartamente (cu 2 camere) si 6 casute, fiecare avand baie proprie, TV, aer conditionat si frigider.
				<strong>Pensiunea</strong> are cherhana proprie si ofera zilnic preparate din peste proaspat.
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Va asteptam cu drag 
						</h2>
					</header>
					<div class="content">
						<p>
							<strong>Casa Pescarilor</strong> este așezată chiar lângă apă, într-o oază de liniște, cu priveliște spre Lacul Razelm și canalele Deltei. 
							Accesul se face pe șosea asfaltată, pe DN 22 (310 km de București, pe autostradă până la Ovidiu și apoi spre Tulcea – Jurilovca, pe drum modernizat).
						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope"> <a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
							<li class="icon solid fa-phone"><a href="tel:{{ data.phone }}">{{ data.phone }}</a></li>
							<li class="icon solid fa-gift">Parcare Gratuita</li>
							<li class="icon solid fa-signal">WiFi Gratuit</li> 
						</ul>
						<p>
							Vă stau la dispoziție 12 camere clasificate cu 3 stele: 4 camere duble și 2 apartamente, în clădirea pensiunii, 
							și 6 căsuțe în incintă – capacitate maximă totală: 28 persoane. 
							Camerele sunt dotate după normele europene: grup sanitar propriu (duș), TV, mini-frigider, acces Wi-Fi, vedere spre apă.
						</p>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii
						</h2>
					</header>
					<div class="content">

						<p>
							<strong>Pentru pescuit</strong> sau plimbari de agrement va punem la dispozitie: barci cu vasle, caiac, canoe, biciclete
							<br />
							<strong>Activitati sportive</strong> si de divertisment: pescuit, vanatoare, plimbari pe lac si canale, excursie la Gura Portitei
							<br />
							<strong>Zona pentru gratar</strong> ofera 2 mese cu bancute si posibilitati de a prepara personal captura zilei.
							Posibilitate parcare barca pe uscat sau pe apa cu asigurare paza si supraveghere video.
						</p>

						<!-- Section -->
						<section>
							<header>
								<p>
									Mereu bucurosi de oaspeti. 
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
									<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>
